// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$light-gray: #F4F4F4;
$primary-color:#113054;
$secondary-color:#5D99C3;
$gray: #5D99C3;
$third-color: #020D16;
