// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$light-gray: #F4F4F4;
$gray: #5D99C3;
$third-color: #020D16;
$primary-green: #40F9B7;
$gray-dark: #333333;
$gray-mid:#69787A;
$gray-light: #D3E0DF;
$light-green: #ECF5F2;
$white-green: #F8FDFC;
