// Import Google fonts
// @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;1,100&display=swap');
@font-face {
  font-family: "Futura-heavy";
  src: font-url('Futura-heavy.ttf');
}
@font-face {
  font-family: "Gillroy-regular";
  src: font-url('Gillroy-regular.ttf');
}
// Define fonts for body and headers
$body-font: "Gillroy-regular";
$headers-font: "Futura-heavy";

// To use a font file (.woff) uncomment following lines
// $my-font: "Futura-heavy";
