// Specific CSS for your home-page
.banner {
  background-color: none;
  background-size: cover;
  background-position: center;
  text-align: center;
  padding-top: 250px;
  display: flex;
  align-self: center;
  justify-content: center;
  height: 90vh;
}

.banner-body {
  height: 100%;
}

.banner h1 {
  margin: 0;
  color: black;
}

.social-proof-section h2 {
  color: black;
}

.banner p {
  font-size: 20px;
  font-weight: 300;
  color: black;
  padding: 20px;
}
