// Specific CSS for your home-page
.banner {
  background-color: $white-green;
  background-size: cover;
  background-position: center;
  text-align: center;
  padding-top: 150px;
  align-self: center;
  justify-content: center;
  height: 90vh;
  overflow: hidden;
}

.banner-body {
  height: 100%;
}

.banner h1 {
  margin: 0;
  color: black;
}

.social-proof-section h2 {
  color: black;
}
.social-proof-section {
  padding: 100px 0px;
  background: white;
}

.circle-planet {
  margin-top: -140px;
}

.banner p {
  font-size: 20px;
  font-weight: 300;
  color: black;
  padding: 20px;
}

.moonstra-planets {
  max-width: 100%;
}
