<div class="side-bar">
  <div class="side-bar-header">
    <p>
      <%= current_user.team.name %>
    </p>
    <p>
      Vault: <%= current_user.team.diamonds %>
    </p>
  </div>

  <%= link_to "Find projects", projects_path, class: "btn btn-primary" %>
  <%= link_to "Create project", new_project_path %>
</div>
