<div class="banner">
  <div class="mycontainer">
    <div class="banner-body">
      <h1>kickstart your <br>freelancing career</h1>
      <p>All in one tool for freelance collaboratives.</p>
      <!-- to uncomment when launch -->
      <%#= link_to "create a team", new_team_path, class: "btn-primary" %>
      <%#= link_to "Join your team", new_user_registration_path, class: "btn-secondary" %>
      <!-- end of comment -->
      <% if cookies[:saved_invite] %>
        <p>Your registration is saved, we will contact you soon prior to the official launch!</p>
      <% else %>
      <div id="new_invitation_form">
        <%= simple_form_for @invitation, remote: true do |f| %>
          <%= f.input :email, label: false, placeholder: "email" %>
          <%= f.submit "SEND",class: "lead-submit"%>
        <% end %>
      </div>
      <% end %>

    </div>
  </div>
  <%= image_tag 'Moonstra-planets.png', class: "moonstra-planets" %>
  <div class="circle-planet">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
      <path fill="#ffffff" fill-opacity="1" d="M0,224L120,186.7C240,149,480,75,720,42.7C960,11,1200,21,1320,26.7L1440,32L1440,320L1320,320C1200,320,960,320,720,320C480,320,240,320,120,320L0,320Z"></path>
    </svg>
  </div>
</div>
<section class="social-proof-section">
  <div class="my-container">
      <h2>Kickstart your career</h2>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit enim, consequatur nobis vel facilis est, pariatur dolorum quo totam, numquam aperiam. Saepe, quaerat sunt laborum eaque eos amet, vero accusamus.</p>
  </div>
</section>
<section class="features-section">

</section>
