<div class="banner">
  <div class="mycontainer">
    <div class="banner-body">
      <h1>kickstart your <br>freelancing career</h1>
      <p>All in one tool for freelance collaboratives.</p>
      <!-- to uncomment when launch -->
      <%#= link_to "create a team", new_team_path, class: "btn-primary" %>
      <%#= link_to "Join your team", new_user_registration_path, class: "btn-secondary" %>
      <!-- end of comment -->
      <% if cookies[:saved_invite] %>
        <p>Your registration is saved, we will contact you soon prior to the official launch!</p>
      <% else %>
      <div id="new_invitation_form">
        <%= simple_form_for @invitation, remote: true do |f| %>
          <%= f.input :email, label: false, placeholder: "email" %>
          <%= f.submit "SEND",class: "lead-submit"%>
        <% end %>
      </div>
      <% end %>

    </div>
  </div>
</div>
<section class="social-proof-section">
  <div class="my-container">
    <div class="big-card center-text">
      <h2>Our customers say</h2>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit enim, consequatur nobis vel facilis est, pariatur dolorum quo totam, numquam aperiam. Saepe, quaerat sunt laborum eaque eos amet, vero accusamus.</p>
    </div>
  </div>
</section>
<section class="features-section">

</section>
