<div class="banner">
  <div class="mycontainer">
    <div class="banner-body">
      <h1>Tired of working alone?</h1>
      <p>Create or join a freelancers collective today.</p>
      <%= link_to "create a team", new_team_path, class: "btn-primary" %>
      <%= link_to "Join your team", new_user_registration_path, class: "btn-secondary" %>
      <%= link_to "I don't have a team", new_user_registration_path, class: "btn-secondary" %>
    </div>
  </div>
</div>
<section class="social-proof-section">
  <div class="my-container">
    <div class="big-card center-text">
      <h2>Our customers say</h2>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit enim, consequatur nobis vel facilis est, pariatur dolorum quo totam, numquam aperiam. Saepe, quaerat sunt laborum eaque eos amet, vero accusamus.</p>
    </div>
  </div>
</section>
<section class="features-section">

</section>
