<div class="modal fade client-modal" tabindex="-1" role="dialog" aria-labelledby="ClientModalTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="ModalLongTitle">Choose or create a customer</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" data-controller="new-client">
        <%= simple_form_for :client do |client| %>
          <%= render 'client_fields', :f => client %>
        <% end %>
        <%= link_to_add_association 'add client', f, :client, data: {:'client-target' => "button"} %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Next</button>
      </div>
    </div>
  </div>
</div>
