<div class="modal fade client-modal" tabindex="-1" role="dialog" aria-labelledby="ClientModalTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="ModalLongTitle">Choose or create a customer</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <%= form_for :client, html: { id: :new_client_form } do |client| %>
        <div class="modal-body">
            <%= render 'client_fields', :f => client %>
          <%#= link_to_add_association 'add client', f, :client, data: {:'client-target' => "button"} %>
        </div>
        <div class="modal-footer">
          <%= f.submit 'Save', class: "btn btn-secondary", html: {"data-dismiss": "modal"}%>
          <!-- <button type="button" class="btn btn-secondary" data-dismiss="modal">Next</button> -->
        </div>
      <% end %>
    </div>
  </div>
</div>
