<div class="cards">
  <div class="small-card">
    <%= @team.name %>
  </div>
</div>

  <h2>Team projects</h2>
  <ul>
    <% @private_projects.each do |private_project| %>
      <li> <%= private_project.name %> </li>
      <li> <%= private_project.description %> </li>
    <% end %>
  </ul>
</div>
