<div class="cards">
  <div class="small-card">
    <%= @team.name %>
  </div>
</div>

  <h2>Current team projects</h2>
  <div class="small-card">
    <ul style="list-style-type: none">
      <% @private_projects.limit(5).each do |private_project| %>
        <li> <%= private_project.name %> </li>
      <% end %>
    </ul>
  </div>
</div>
