<div class="cards">
  <div class="small-card">
    <%= @team.name %>
  </div>
</div>

  <h2>Current team projects</h2>
  <div class="small-card p-3" style="border-radius: 10px">
    <ul style="list-style-type: none">
      <% @team_projects.each do |team_project| %>
        <li> <%= team_project.project.name %> </li>
        <% team_project.project_members.each do |member| %>
          <p> <%= member.user.first_name %> </p>
        <% end %>
      <% end %>
    </ul>
  </div>
</div>

<%= link_to "Profile", edit_user_registration_path %>
