<div class="cards">
  <div class="small-card">
    <%= @team.name %>
  </div>
</div>

  <h2>Team projects</h2>
  <div>
    <ul style="list-style-type: none">
      <% @private_projects.limit(3).each do |private_project| %>
        <li> <%= private_project.name %> <%= private_project.description %></li>
      <% end %>
    </ul>
  </div>
</div>
