.form-control {
  background-color: white;
  border-radius: 50px;
  height: 49px;
  width: 100%;
}

.lead-submit {
  border-radius: 50px;
  background-color: $primary-green;
  padding: 15px 35px;
  border: none;
  letter-spacing: 3px;
  // margin-left: -50px;
}

.new_invitation {
  display: flex;
  height: 49px;
}
