.navbar-lewagon {
  justify-content: space-between;
  background: none;
  position: absolute;
  width: 100%;
  a {
    color: white;
  }
}

.nav {
  width: 100%;
  padding: 0px 50px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 100px;
  object-fit: center;
}

.side-bar {
  background-color: $third-color;
  height: 95vh;
  width: 250px;
  padding: 50px;
  border-radius: 20px 0px 0px 20px;
}

.side-bar-header {
  p {
    color: white;
  }
}
